html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  bottom: 50%;
  width: 100%;
  max-height: calc(100%);
  transform: translateY(50%);
  overflow-y: auto;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
